*{
    margin: 0;
    padding: 0;
}

.circle{
    width: 100px;
    height: 100px;
    border: 10px solid red;
    border-radius: 3px;
    transition-duration: 2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle:hover{
    border-radius: 50%;
    border-color: black;
}